.bookingFrame {
  background-color: #c2edf6;
  margin: 3%;
  border-radius: 1rem;
  border: 1px solid black;
  width: 90%;
  padding: 2%;
  box-shadow: 0.3rem 0.3rem 0.3rem black;
}

.bookingFrame p {
  color: black;
}

.booking-select {
  position: relative;
  background-color: white;
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
  height: 5rem;
  width: calc(100% - 4%);
}

.booking-select #dropdown-basic {
  position: absolute;
  top: -1.3rem;
}

#dropdown-basic {
  background-color: transparent;
  color: black;
  border: 0;
  margin: 0.1rem;
}

.dropdown-menu {
  background-color: #9cdbff;
  border: 1px solid black;
  border-radius: 0.4rem;
  width: calc(100% - 4%);
}

.calendar {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
}

.calendar div {
  margin: 1%;
}

/* Selected button styling */
button.selected-button {
  background-color: #9cdbff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* Not selected button styling */
button.not-selected-button {
  background-color: white;
  margin: 0.1rem;
}

#submit-booking-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#submit-booking-button button {
  background-color: white;
}

#submit-booking-button p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
