.bookingFrame {
  background-color: #c2edf6;
  margin: 3%;
  border-radius: 1rem;
  border: 1px solid black;
  width: 90%;
  padding: 2%;
  box-shadow: 0.3rem 0.3rem 0.3rem black;
  color: black !important;
}

.bookingFrame div {
  margin-top: 1rem;
}

/* Toggle Button */
.dropdown-toggle {
  background-color: #f5f5f5;
  color: black;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  border-radius: 0.5rem;
}

#dropdown-basic:hover, #dropdown-basic:focus {
  background-color: #9cdbff;
  color: black;
}

.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid black;
  width: 25%;
  max-width: calc(90% - 6%); 
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  border-radius: 0.5rem;
}

div.dropdown-menu {
  margin-top: 0;
}

/* Dropdown Items */
.dropdown-item {
  color: black;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #c2edf6;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #9cdbff;
  color: black;
}


/* Calendar style */
.calendar {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 2%;
}

.calendar div {
  margin: 1%;
}

/* Selected button styling */
button.selected-button {
  background-color: #9cdbff;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

/* Not selected button styling */
button.not-selected-button {
  background-color: white;
  margin: 0.1rem;
}

#submit-booking-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#submit-booking-button button {
  background-color: white;
}

#submit-booking-button p {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
