nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #9CDBFF; 
  }
  
  .navLogo {
    display: flex;
    align-items: center;
  }
  
  .login {
    display: flex;
    background-color: #C2EDF6;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  nav a {
    color: #000000; /* Light blue text color */
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #e0f2ff; /* Lighter blue on hover */
  }
  
  nav img {
    margin-top: -2rem;
    margin-bottom: -2rem;
    width: 10rem;
    height: 6rem;
  }
  
  /* Prefill footer.  Change later */
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Adjust for vertical alignment if needed */
    padding: 1rem;
    background-color: #676767;  /* Light blue background (optional) */
    color: #ffffff;
  }
  
  footer a {
    color: #ffffff; /* White text color */
    text-decoration: underline;
    padding: 10px;
    border-radius: 5px;
  }
  
  footer a:hover {
    color: #44961d; 
  }
  
  footer div {
    display: flex;
    width: 60%; /* Adjust width as needed */
  }
  
  footer div p:first-child {
    flex: 1;
  }
  
  
  footer div p:last-child {
    flex: 1; /* Takes up available space */
    text-align: right;
  }
  
  footer a:last-child {  /* Logo link */
    margin-left: auto;
    margin-right: auto;
  }
  
  footer p:last-child {
    text-align: center; /* Copyright text centered */
  }
  
  footer img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 10rem;
    height: 6rem;
  }