@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

body {
  background-color: #A1E17F;
}

h1 {
  font-size: 2rem;
}

.contentFrame {
  background-color: #caffae;
  color: #209D69;
  margin-left: 25rem;
  margin-right: 20rem;
  margin-top:0;
}