body {
  background-color: #A1E17F;
  min-height: calc(100vh - footer-height);
  margin:0;
  padding:0;
}

.contentFrame {
  display:flex;
  align-content: center;
  background-color: #caffae;
  color: #209D69;
  margin-left: 20%;
  margin-right: 10%;
  margin-top:0;
  padding-bottom:5%;
  padding-top:5%;
  padding-left:10%;
  padding-right:5%;
}


@media only screen and (max-width: 768px) {
  .contentFrame {
    margin: 0;
    padding: 3% 9%;
  }
}